@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ass Photo Contest</h1>
    <p class="lead">ASP.NET Photo Contest</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>