
@if (TempData.ContainsKey("success"))
{
    <div class="alert alert-success">@TempData["success"]</div>
}

@if (TempData.ContainsKey("error"))
{
    <div class="alert alert-danger">@TempData["error"]</div>
}